version: "0.1"
services:
  
  redis:
    image: klanier/redis:0.1
    container_name: redis
    restart: always
    ports:
        - "6379"
    networks:
        - phish_net
  
  rspamd:
    image: klanier/rspamd:0.1
    container_name: rspamd
    volumes:
      - ./rspamd/lib/dkim:/var/lib/rspamd/dkim
    env_file:
      - 'settings.env'
    depends_on:
      - redis
    networks:
      - phish_net

  postfix:
    image: klanier/postfix:0.1
    container_name: postfix
    env_file:
      - 'settings.env'
    depends_on:
      - rspamd
    ports:
      - "25"
    networks:
      - phish_net

  gophish:
    image: klanier/gophish:0.1
    depends_on:
      - postfix
      - caddy
    networks:
      - phish_net

  caddy:
    image: klanier/caddy:0.1
    container_name: caddy
    volumes:
      - ./caddy/data:/data/caddy
    env_file:
      - 'settings.env'
    ports:
      - "80:80"
      - "443:443"
      - "3333:3333"
    networks:
      - phish_net

networks:
  phish_net:
    name: phish_net
